@font-face {
  font-family: "Bifocals";
  src: url("../fonts/Bifocals.otf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bifocals";
  src: url("../fonts/Bifocals Italic.otf");

  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Bifocals";
  src: url("../fonts/Bifocals Black.otf");

  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bifocals";
  src: url("../fonts/Bifocals Black Italic.otf");

  font-weight: bold;
  font-style: italic;
}